APP_NAME=face-recognition-api
APP_HOST=0.0.0.0
APP_PORT=9000

FACE_MODEL_NAME=buffalo_l
FACE_SIMILARITY_THRESHOLD=0.55
FACE_DET_WIDTH=640
FACE_DET_HEIGHT=640

EMBEDDINGS_FILE=/app/data/embeddings.json

LARAVEL_API_BASE_URL=http://dit-rfid.edu-nexus.org/api/v1
LARAVEL_API_TOKEN=
REQUEST_TIMEOUT_SECONDS=30
NOTIFY_LARAVEL=true